:root {
--lightweight-orange:#fe894f;
--lightweight-orange-hover:#d16e3d;
--light-orange:#ff6030;
--strong-orange:#ff5421;
--dark-orange:#b8573a;
--lightweight-black:#323131;
--light-black:#262626;
--middle-black:#1b1c19;
--dark-black:#141414;
--skyblue:#52e5ff;
--gold:#faca4d;
}
