:root {
--lightweight-orange:#fe894f;
--lightweight-orange-hover:#d16e3d;
--light-orange:#ff6030;
--strong-orange:#ff5421;
--dark-orange:#b8573a;
--lightweight-black:#323131;
--light-black:#262626;
--middle-black:#1b1c19;
--dark-black:#141414;
--skyblue:#52e5ff;
--gold:#faca4d;
}
#backgroundIMG {
  background-image: url("https://data1.origin.com/content/dam/originx/web/app/games/battlefield/battlefield-1/apocalypse/bf1-xp4_screenshot_1920x1080_en_ww_3.jpg");
  filter:sepia(0%) blur(4px) brightness(75%);
  position: fixed;
  z-index:-1;
  background-size:cover;
  height:100vh;
  width:100%;
  top:0px;
  left:0px;
}
