body {
  background-color:var(--middle-black)!important;
  color:#fff!important
}
#websiteContent {
  width:95vw;
  max-width:1250px;
  margin:auto;
}
.contentUserPostTableBox {
  border-collapse:collapse;
  border-width:1px;
  width:100% !important;
  border-spacing:0;
}
.contentUserPostTableBox th {
  text-align:center;
  border-width:1px;
}
.userPost {

}
.userPostDIV {
  margin-bottom:10px;
  margin-top:10px;
  background-color: rgba(255,255,255,0.05);
}
.item_div_flex {
  margin:auto;
}
.item_flex_box {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin:auto;
}
.userPostDescriptionArea {
  width:100%;
  float:left;
  padding-left:10px;
  height:30px;
  background-color:rgba(255,255,255,0.1);
  border:none;
  color:#DDD;
}
.contentUserPostTable {
  height:100px;
  border-radius:4px;
  margin-bottom:15px
}
.contentUserPostTable td {
  border:none;
  text-align:center;
  border-spacing:0;
  padding:5px;
  width:300px;
}
.item_table {
  margin:auto;
  background-color:rgba(255,255,255,0.25);
  margin-left:5px;
  text-align:center;
  width:500px; /* Controls The Width of HAS/WANT Tables */
  margin-bottom:15px;
  border-radius: 6px;
  border-collapse: collapse;
}
.item_table td {
  border:solid;
  border-color:#000;
  border-style:groove;
  min-width:125px;
  border-width:0.5px;
  font-size:12px;
  padding-left:2.5px;
  letter-spacing:0.5px;
  font-weight: lighter;
}
.item_table_cell {
  background-image: radial-gradient(circle, #444444, #3d3d3d, #353535, #2e2e2e, #272727);
}
.item_table_wants th {
  background-color: var(--lightweight-black);
}
.item_table_has th {
  background-color: var(--lightweight-black);
}
.contentUserPostHeaderTrade {
  border-bottom:solid;
  border-bottom-width:thin;
  border-color:#666;
  border-bottom-style: dashed;
}
.contentUserPostTime {
  text-align:right !important;
  font-size:12px;
  color:#48cdeb;
}
.contentUserPostHeaderTrade td {

}
.contentUserPostDIV {
  overflow-x:auto
}
.contentUserPostNameDIV {
  color:orange;
  font-size:13px;
  width:200px !important;
}
.contentUserPostHeaderTradeGame {
  text-align:left !important;
  font-size:13px;

}
.contentUserPostHeaderTrade {
  width:100%;
  height:100%;
}
.contentUserPostHeaderTrade td {
  height:100%;
}
.paginationDiv {
  border:none;
  text-align:center;
  width:100%
}
#contentHeader th {
  height:35px
}
.contentHeaderSticky {
  position:fixed;
  top:0;
  width:100%
}
.disabledPaginationButton {
  filter:saturate(0%);
}
.enabledPaginationButton {
  filter:hue-rotate(270deg) saturate(100%);
}
.enabledPaginationButton,.disabledPaginationButton {
  margin-left:5px;
  margin-right:5px;
  border:solid;
  border-style:double;
  border-width:2px;
  border-radius: 4px;
}
.paginationIcon {
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
  height:25px;
  width:25px;
  display:block;
  filter:sepia(100%) brightness(50%) saturate(400%);
}
.gameIcon {
  width:13px;
}
.userIMG {
  width:25px;
  height:25px;
  border-radius:3px;
  float:left;
}
.userName {
  float:left;
  margin-left:10px;
  padding-top:3px;
  color:orange;
  letter-spacing: 0.6px;
}
.userName:hover {
  color:white;
  border-bottom:solid;
  border-bottom-color:orange;
  text-decoration: none;
  border-width:1px;
}
.enabledPaginationButton:hover {
  cursor:pointer;
  filter:invert(100%) hue-rotate(90deg) brightness(200%);
  border-style: dashed;
}
.item_count {
  background-color:#333;
  border:solid;
  border-width:0.5px;
  border-color:var(--gold);
  border-style:groove;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  font-size:9px !important;
  font-weight: lighter;
  min-width:25px;
  color:#FFF;
  font-family: arial;
  letter-spacing:0.75px;
  min-width:25px;
  text-align: center;
  padding-right:2.5px;
  padding-left:2.5px;
  height:18px;
  padding-top:8px;
  margin-left:-2px;
  line-height:1px;
  max-width:65px;
}
.item_count_td {

}
.item_name {
  padding-right:5px;
  width:100%;
  height:25px;
}
.item_contain {
  border-collapse: collapse;
  width:100%;
}
.item_contain td {
  border:none;
  min-width:0px !important;
  max-width:100px;
}
#right-arrow {
  background-image:url("/assets/img/icons/hard_edge_arrow.svg");
  transform:rotateZ(180deg);
}
#left-arrow {
  background-image:url("/assets/img/icons/hard_edge_arrow.svg");
}
#double-arrow {
  background-image:url("/assets/img/icons/double-arrow.svg");
}
@media only screen and (max-width: 1250px) {
  .item_div_flex {

  }
}
@media only screen and (max-width: 600px) {
  .item_table {
    width:300px;
    margin:auto;
    margin-bottom:15px;
  }
  .item_table td {
    min-width:100px;
  }
  .item_div_flex {
    margin:auto;
  }
}
@media only screen and (max-width: 400px) {
  #websiteContent {
    width:90vw;
}
