#itemSearchError {
  position:absolute;
  color:#F55;
  font-family:serif;
  font-size:12px;
  letter-spacing: 1px;
  margin-top:10px;
  margin-left:35px;
  z-index:-1;
}
#searchItemLoadingIMG {
  width:35px;
  position:absolute;
  margin-top:35px;
  margin-left:-15px;
}
#ItemAutoCompleteContainer {
visibility:hidden;
margin-left:20%;
background-color:#333;
padding-left:25px;
color:#fff;
max-height:250px;
overflow-y:scroll;
width:35vw;
max-width: 400px;
min-width:200px;
z-index:0;
text-align: left;
margin-top:-30px;
}
#ItemAutoCompleteBox {
  position:absolute;
  width:91%;
  left:auto;
  right:auto;
  max-width:1250px;
}
#ItemAutoCompleteList {
list-style-type:none;
margin-left:-55px;
margin-right:10px
}
#itemSearchInputField {
  border-radius: 0px;
}
@media only screen and (max-width: 767px) {
#autocompleteContainer {
max-height:250px;
min-width:250px
}
}
